#wrapper{
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.buttonwrapper, .header{
    display: flex;
    justify-content: center;
    margin: 2rem;;

}
.addBookButton{
    height: 3rem;
    width:9rem;
    background-color: navy;
    color:white;
    font-size: 1rem;
    border-radius: 10px;
    
}
* {
    margin:0px;
    padding:0px;
}
  
.popupOuter{
    display: none;
 
}
label,input,button{
    margin:5px;
}
.popup{
    padding: 10px;
    position:fixed;
    top:30vh;
    left: 40vw;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid navy;
    border-radius: 10px;
    height: 25vh;
    width:20vw;
    
}
body{
    background-color: azure;
}
.card{
    
    height:200px;
    width:200px;
    background-color: salmon;
    border:5px solid navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:15px;
    border-radius: 10px;
   
}
.child{
   margin:7px;
    color: navy;

}